@use "./src/scss/mixins.scss" as mix;
@use "./src/scss/variables.scss" as var;

footer {
  @include mix.flex-center;
  flex-direction: column;
  background: #005695;
  color: var.$df-color-primary;
  height: 100%;

  .containerFooter {
    @include mix.flex-align-justify(center, space-between);
    height: 20vh;
    width: 80%;
  }

  .endFooter {
    @include mix.flex-center;
    background: #000000;
    color: var.$df-color-primary;
    height: 13vh;
    width: 100%;
  }
}

@media (max-width: 800px) {
  footer {
    .containerFooter {
      @include mix.flex-justify-choose(space-evenly);
      flex-direction: column;
      height: 16vh;
    }

    .endFooter{
      p{
        text-align: center;
        max-width: 80%;
      }
    }
  }
}