$df-font-size-one: 1.1rem;
$df-font-size-two: 1.2rem;
$df-font-size-three: 1.3rem;
$df-font-size-four: 1.4rem;
$df-font-size-five: 1.5rem;
$df-font-size-six: 1.6rem;
$df-font-size-seven: 1.7rem;
$df-font-size-eight: 1.8rem;
$df-font-size-nine: 1.9rem;
$df-font-size-ten: 2rem;

$df-font-weight: 600;

$df-color-primary: #fff;
$df-color-secondary: #005695;